    <div class="container" style="padding-right:0px;padding-left:0px;margin-left:auto;margin-right:auto; padding-right: 30px;
 padding-left: 30px;padding-bottom: 30px;width: 1500px;">
        <div class="row"  >
            <div class="col-sm-6">
                <button class = "btn-primary" type="submit" style="height:250px;width:600px;font-size: 50px ;" onclick="set_grade_frequency()">档位频率设定</button>
                <br><br>
{#                <button class = "btn-primary" type="submit" style="height:250px;width:600px;font-size: 50px" onclick="load_save()">观察</button>#}
                </div>
            <div class="col-sm-6">
                <button class = "btn-primary" type="submit" style="height:250px;width:600px;font-size: 50px" onclick="set_other_parameters()">温湿度等参数设定</button>
                <br><br>
            </div>
    </div>
    </div>