<div class="container" style="padding-right:0px;padding-left:0px;margin-left:auto;margin-right:auto; padding-right: 30px;
 padding-left: 30px;">
  <div class="row"  >
    <div class="col-sm-6">
      <h2 id = "frequency_now">现在声频频率为:xx</h2>
      <h2 id = "size_now">现在声频大小为:xx%</h2>
      <h2>温度</h2>
      <h3 id = "wendu_now">现在温度:xx°C</h3>
      <h5 style="display : inline">曲线根据月/日/小时/每10分钟（默认为小时） &nbsp&nbsp</h5>
        <select id ="wendu_select">
          <option value="month">月</option>
          <option value="day" >日</option>
          <option value="hour" selected="selected">小时</option>
          <option value="10minute">10分钟</option>
        </select>
      <div id = "wendu_pig" style="width: 540px;height:300px; border: solid;">温度这边插入图像Echarts</div>
      <h2>湿度</h2>
      <h3 id = "shidu_now">现在湿度:xx%RH</h3>
      <h5 style="display : inline">曲线根据月/日/小时/每10分钟（默认为小时） &nbsp&nbsp</h5>
      <select name="shidu_select" id ="shidu_select">
        <option value="month">月</option>
        <option value="day" >日</option>
        <option value="hour" selected="selected">小时</option>
        <option value="10minute">10分钟</option>
      </select>
      <div id = "shidu_pig" style="width: 540px;height:300px; border: solid;">湿度这边插入图像Echarts</div>
      <hr class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="col-sm-6">
      <h2>植株状况</h2>
      <h5>副标题</h5>
      <div class="fakeimg " >
      <img id ="farm_pig" class="pig_size" src="/static/farm_now.jpg" /></div>
      <br>
      <h2>动图</h2>
      <h5></h5>
      <div class="fakeimg">
        <img id ="farm_pig" class="pig_size" src="/static/farm_gif.gif" />
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    update_farm_now_pig();
    chooseProvince();
    wendu24_start();
    shidu24_start();
    farm_state_now();
  </script>
